@import "../../sass/index.scss";

.contact {
  height: 100%;
  display: flex;
  font-family: "JetBrains Mono", monospace;
  .contact__left {
    flex: 1;
    font-size: 20px;
    border-right: 1px solid #f9826c;

    h3 {
      margin-bottom: 30px;
      font-size: 18px;
    }
    p {
      font-size: 20px;
      color: #f9826c;
      margin-bottom: 8px;
      span {
        color: gray;
      }
    }
    .social__links {
      display: flex;
      gap: 8px;
      flex-direction: column;
      .contact__link {
        color: #f9826c;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
      li {
        list-style: none;
      }
      span {
        margin-right: 40px;
        color: gray;
      }
    }
  }

  .contact__right {
    padding: 0 2rem;
    flex: 1;
    h3{
      margin-bottom: 30px;
    }
    .form__item {
      width: 100%s;
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
      label {
        margin-bottom: 4px;
      }

      input {
        background: #1f2428;
        border: none;
        outline: none;
        padding: 8px 12px;
        font-size: 16px;
        font-weight: 600;
      }
      textarea{
        resize: none;
        background: #1f2428;
        border: none;
        outline: none;
        padding: 8px 12px;
      }
    }
    
    .form__header {
      display: flex;
      gap: 20px;
    }

   button{
    padding: 0.5rem 1rem;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: #f9826c;
    font-weight: 700;
   }
  }
}